@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
}

a {
    text-decoration: none;
    color: #242424;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

hr {
    color: lightgray;
    opacity: 0.2;
}

.purple {
    color: #6415FF;
}

.slight__gray {
    opacity: 0.8;
}

.height__reset {
    line-height: 1 !important;
    padding: 0 !important;
}

.reset__opacity {
    opacity: 1 !important;
}

.btn {
    background-color: #6415FF;
    color: white;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    padding: 12px 40px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #242424;
    display: none;
    cursor: pointer;
    transition: color 300ms ease;
}

.btn__hover:hover {
    background-color: #322d80;
}

.section__heading {
    font-size: 48px;
    margin-bottom: 16px;
}

.container {
    padding: 80px 0;
}

.no__cursor {
    cursor: not-allowed;
}

.purple__hover:hover {
    color: #6415FF;
}

/* Landing */

.landing__container {
    padding-bottom: 120px;
    animation: come__left 800ms 200ms forwards;
}

.nav__row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
}

.nav__container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__links {
    display: flex;
}

.nav__link {
    padding: 0 24px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.nav__link:hover {
    color: #6415FF;
}

.nav__logo--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
}

.nav__img--wrapper {
    display: flex;
}

.personal__logo {
    width: 40px;
    height: 40px;
}

.nav__header {
    padding-left: 0.7rem;
    font-weight: 700;
    color: #242424;
    font-size: 24px;
}

.menu__backdrop {
    position: fixed;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin: 16px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(150%) translateZ(0px);
    transition: transform 300ms ease;
    opacity: 0;
}

.menu--open .menu__backdrop {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}

.menu__links {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 24px;
    font-weight: bold;
    font-size: 18px;
}

.menu__link--wrapper {
    padding: 16px;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #242424;
}

.header__row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.header__form {
    position: relative;
}

.header__container {
    display: flex;
}

.header__intro--container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__img--wrapper {
    width: 60%;
}

.header__intro--para {
    font-size: 18px;
    margin-bottom: 24px;
}

.header__form {
    margin-bottom: 40px;
}

.header__customers {
    font-size: 12px;
    color: lightgrey;
}

.customer__img {
    padding-top: 16px;
    opacity: 0.4;
}

/* Features */

.features__container {
    padding: 80px;
    animation: come__right 800ms 200ms forwards;
}

.features__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features__section--heading {
    font-weight: 900;
    font-size: 48px;
    padding-top: 16px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
}

.service {
    width: calc(100%/3);
    display: flex;
    padding: 16px 0;
    justify-content: center;
}

.service__description {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    max-width: 215px;
    line-height: 1.5;
}

.service__img {
    width: 24px;
}

.service__img--wrapper {
    width: 66px;
    height: 66px;
    padding: 24px;
    border-radius: 9999px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__description--title {
    font-size: 24px;
    opacity: 0.7;
}

.service__para {
    padding: 16px 0;
    opacity: 0.5;
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
}

/* Quality Work */

.work__intro {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.work__img--wrapper {
    width: 50%;
}

.work__container {
    display: flex;
    animation: come__left 800ms 200ms forwards;
}

.work__section--heading {
    font-weight: 900;
    font-size: 48px;
    padding-top: 16px;
}

.work__section--para {
    padding: 16px 0;
    opacity: 0.5;
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.work__btn {
    width: 168px;
    height: 48px;
}

/* Steps */
.steps__container {
    display: flex;
    animation: come__right 800ms 200ms forwards;
}

.steps__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__info {
    width: 50%;
    padding-left: 16px;
}

.steps__header {
    font-weight: 900;
    font-size: 48px;
    padding-top: 16px;
}

.steps__list {
    list-style-position: outside;
}

.step__number {
    padding: 16px;
    font-size: 40px;
    opacity: 0.3;
    font-weight: 700;
}

.step {
    padding: 16px 0;
    display: flex;
}

.step__title {
    padding: 16px 0;
}

.step__info {
    padding: 16px 0;
    opacity: 0.5;
    max-width: 320px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

/* Pricing */

.pricing__container {
    padding-bottom: 120px;
    animation: come__left 800ms 200ms forwards;
}

.plans {
    display: flex;
    align-items: center;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 32px 16px 0 16px;
    position: relative;
}

.main__plan {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.plan__title {
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    padding: 24px 0;
}

.plan__details {
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 8px;
}

.plan__button--wrapper {
    padding: 24px 0;
}

.pricing__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing__title {
    font-weight: 900;
    font-size: 48px;
    padding-top: 16px;
}

.pricing__para {
    padding: 16px 0;
    opacity: 0.5;
    max-width: 600px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.price {
    font-size: 48px;
}

.plan__head--1 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__head--2 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__btn {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 64px;
    font-size: 16px;
}

.plan__btn--1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__btn--2 {
    background-color: white;
    color: #6415FF;
}

.plan__btn--3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__btn--hover:hover {
    opacity: 0.9;
    transform: translateY(-4px);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.1),0 3px 6px 0 rgba(0,0,0,0.06);
}

/* Footer */ 

footer {
    background-color: #6415FF;
    color: white;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    max-width: 120px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.footer__logo--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer__logo {
    width: 40px;
    height: 40px;
    padding-right: 8px;
}

.footer__link,
.footer__link--title {
    padding: 8px 0;
    color: white;
}

.footer__socials {
    font-size: 32px;
}

.footer__social {
    color: white;
}

.copyright {
    color: lightgrey;
}

/* Imports */

.circle--button {
    background-color: #6415FF;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 8px 8px 8px 0;
}

.circle--form {
    font-size: 16px;
    border: 2px solid #e5e7eb;
    border-radius: 9999px;
    font-weight: 500;
    width: 100%;
    padding: 24px;
}

/* Animations */

@keyframes come__left {
    0% {
        transform: translateX(-2400px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes come__right {
    0% {
        transform: translateX(2400px);
    }
    100% {
        transform: translateX(0);
    }
}


@media (max-width: 1024px) {

    .nav__links {
       display: none; 
    }

    .btn__menu {
        display: block;
    }

    .nav__img--wrapper {
        padding-left: 24px;
    }

    .header__row {
        max-width: 516px;
    }

    .header__container {
        flex-direction: column;
        padding-top: 40px;
    }

    .header__intro--container {
        width: 100%;
        text-align: center;
    }

    .header__img--wrapper {
        width: 100%;
        padding-top: 40px;
    }

    .section__heading {
        font-size: 32px;
    }

    .service {
        width: 50%;
    }

    .step {
        padding:0;
    }

    .plans {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plan {
        width: 100%;
        max-width: 440px;
    }

    .plan__btn {
        padding: 0 96px;
    }
    
}

@media (max-width: 768px) {
    .link {
        width: calc(100%/3);
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__logo--wrap {
        padding-bottom: 24px;
    }
    .footer__socials {
        padding-top: 24px;
    }
}

@media (max-width: 640px) {
    .header__row {
        max-width: 400px;
    }

    .service {
        width: 100%;
    }

    .work__container {
        flex-direction: column-reverse;
    }

    .work__section--heading {
        font-size: 40px;
    }

    .work__intro {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .work__img--wrapper {
        width: 100%;
        padding-bottom: 24px;
    }

    .steps__container {
        flex-direction: column;
    }

    .steps__img {
        width: 100%;
    }

    .steps__info {
        width: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
    }

    .step {
        flex-direction: column;
        padding: 0;
    }

    .steps__header {
        font-size: 40px;
    }

    .pricing__title {
        font-size: 40px;
    }
}